:root {
    --color-1: #272423;
    --color-2: #f5f1ee;
    --text-color: #f0f0f0;
    --accent-color: #FF6200;
    --color-3: #f7d0b7;
    --color-4: #5e514d;
}


* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-width: 320px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-2);
    margin: 5rem;
    margin-top: 2rem;
    padding: 4rem;
    max-width: 50%;
    border-radius: 5px;
    height: fit-content;
}

header {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-image: linear-gradient(to right, rgba(19, 18, 17, 0.75), rgba(14, 12, 11, 0.75)), url(assets/images/AdobeStock_220954410.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h4 {
    text-align: center;
    margin: 2rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Navibar mit responsiv*/
nav {
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    background-color: var(--accent-color);
}

nav .home-link {
    margin-right: auto;
}

nav svg {
    fill: var(--accent-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}


/*main rezepte section */
.rezepte-liste {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 5rem;
    background-color: var(--color-1);
    color: var(--accent-color);
    text-align: center;
    gap: 50px
}

.rezeptliste-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.rezept-card-vertikal {
    background-color: var(--color-2);
    color: var(--color-1);

    max-width: 400px;
    border-radius: 5px;
    padding-bottom: 2rem;

    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.rezept-card-vertikal h4 {
    margin-top: 1rem;
}

.rezept-card-vertikal img {
    width: 100%;
    max-width: 370px;
    border-radius: 5px 5px 0 0;
}

.absatz-1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 3rem;
}

.schwergrad,
.dauer,
.kcal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;
}

.absatz-2 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* .icon-container {
    display: flex;
    justify-content: center;
} */

/* .icon-container-gross svg,*/
.icon-container-gross img {
    width: 42px;
    /* Feste Breite */
    height: 42px;
    /* Feste Höhe */
    background-color: var(--color-3);
    padding: 10px;
    border-radius: 50px;
}

.icon-container-mittel img {
    width: 25px;
    /* Feste Breite */
    height: 25px;
    /* Feste Höhe */
    background-color: var(--color-3);
    padding: 15px;
    border-radius: 50px;
}

.icon-container-klein img {
    width: 18px;
    /* Feste Breite */
    height: 18px;
    /* Feste Höhe */
    align-self: center;
    background-color: var(--color-2);
    border-radius: 50px;
    padding: 0.5rem;

}

.icon-container-klein {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px
}

.kcal {
    padding: 10px 0 10px 0;
    margin: 0 30px 0 30px;
    border-radius: 5px;
}

.makros {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 15px;
}

.wert-mit-icon {
    display: flex;
    flex-direction: column;
    width: 35px;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 8px;
}
.wert-mit-icon p{
    text-wrap: nowrap;
}

/* .naehrwerte {
    max-width: 200px;
    font-size: 16px;
    border-collapse: collapse;
    background-color: var(--color-3);
}

td,
th {
    padding: 5px 10px ;
    text-align: center;
}

td{
    color: var(--color-4);
    font-size: 13px;
}

thead {
    background-color: var(--accent-color);
    box-shadow: 0 0.5px 1px var(--color-1);
} */


/*Button*/
.rezept-card-vertikal a,
.rezepte-liste a,
.vorteile a,
.another-recipes a {
    max-width: 100%;
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    background-color: var(--accent-color);
    color: var(--color-2);
    border-radius: 5px;
    margin-top: auto;
}

.vorteile a {
    margin: 2rem;
}


/*Vorteile */
.vorteile {
    background-color: #ffffff;
    padding: 3rem;
    color: var(--color-1);
    text-align: center;
    margin: 2rem;
}

.vorteile .desktop {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vorteile article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vorteile-text {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.vorteile article h4 {
    font-size: 150%;

}

.vorteile article p {
    max-width: 450px;

}

.mobil {
    display: none;

}

/*footer*/
footer {
    background-color: var(--color-1);
    color: var(--color-2);
    text-align: center;
    padding: 1rem;
}

/*was ist keto-Seite*/
.wasistketo {
    text-align: justify;
    padding: 2rem 8rem 8rem 8rem;
    line-height: 150%;
}

.wasistketo h1,
.wasistketo h3 {
    text-align: left;
    padding: 2rem 0 1rem 0;
}

.wasistketo h3 {
    padding: 4rem 0 1rem 0;
}

.wasistketo li {
    padding: 0 2rem 1rem 2rem;
    list-style-type: none;
}

.wasistketo img {
    width: 100%;
    margin-top: 1rem;

}

/*Rezept-Seite*/
.bild-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.rezept {
    text-align: center;
    margin-top: 0;
    padding: 2rem 8rem 8rem 8rem;
    line-height: 180%;
    background-color: var(--color-1);
    color: var(--color-2);
}

.rezeptbild {
   
    max-width: 100%;
   height: auto;

}

.container-schwergrad-dauer {
    margin: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.rezept h4,
.rezept h2 {

    padding: 1rem;
}

.zutaten li {
    list-style-type: none;
}

.produkte-und-mengen {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.menge {
    width: 300px;
    text-align: right;
    text-wrap: nowrap;
}

.produkte {
    width: 300px;
    text-align: left;
    text-wrap: nowrap;
}
.stepbystep{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.step{
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
} 
.step img{
    max-width: 100%;
    height: auto;
}
.step-ingredient{
    color: var(--color-4);
    font-style: italic;
}
.step p{
    text-align: left;
    width: 100%;
} 
.another-recipes{
    padding: 2rem;
    margin-top: 5rem;
    background-color: var(--color-1);
    color: var(--accent-color);
    text-align: center;
    gap: 50px
}
.another-recipes h1{
    padding: 3rem 0 3rem 0;
}


@media(max-width: 800px) {

    /*vorteile*/
    .desktop {
        display: none !important;
    }

    .mobil {
        max-width: 100%;
        display: flex;
        /* Aktiviert das Flex-Layout */
        justify-content: center;
        /* Zentriert horizontal */

        flex-wrap: wrap;
        /*Damit sich die Artikel in mehrere Zeilen anordnen, wenn nötig */
        gap: 20px;
        /*Abstand zwischen den Artikeln */
    }


    .mobil article {
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }

    .mobil .vorteile-text {
        text-align: center;
        max-width: 100%;
        margin: auto;
    }

    .mobil .vorteile img {
        max-width: 250px;
    }

    .wasistketo {
        padding: 5rem;
    }

    .wasistketo li {
        padding: 0 1rem 1rem 1rem;
    }

    .wasistketo img {
        max-width: 750px;
    }
    .container-schwergrad-dauer {
        gap:5rem;
    }
    .rezept{
        padding: 2rem;
    }
    .stepbystep{
        gap: 25px;
    }
}



@media(max-width: 450px) {

    /*Navi*/
    .links-container {

        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 200px;
        height: auto;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    /*main*/
    .intro {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        background-color: var(--color-2);
        margin: 2rem;
        max-width: 75%;
        border-radius: 5px;
        padding: 1rem;
        height: fit-content;

    }

    header img {
        max-width: 70%;
        margin-top: 2rem;
    }

    header {
        background-image: none;

    }

    html {
        height: 100%;
        background-image: linear-gradient(to right, rgba(29, 25, 22, 0.75), rgba(82, 54, 37, 0.75)), url(assets/images/AdobeStock_220954410.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    /*Rezepte Liste*/
    .rezepte-liste {
        padding: 2rem;
        max-width: 100%;
        display: flex;
        /* Aktiviert das Flex-Layout */
        justify-content: center;
        /* Zentriert horizontal */

        flex-wrap: wrap;
        /*Damit sich die Artikel in mehrere Zeilen anordnen, wenn nötig */
        gap: 20px;
    }

    .rezeptliste-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .rezept-card-vertikal {
        width: 100%;
        max-width: 300px;
    }
    .absatz-1 {
        justify-content: center;
        gap: 2rem;
        margin: 1rem;
    }

    .vorteile {
        max-width: 100%;
        margin: 0;

    }

    .vorteile .mobil {
        max-width: fit-content;
    }

    .vorteile .mobil article {
        max-width: 100%;
    }

    .wasistketo {
        padding: 1.5rem;
        background-color: var(--color-2);
        margin: 1rem;
        border-radius: 5px;
    }

    .ketogene-ernaerung h1,
    .ketogene-ernaerung h3 {
        text-align: left;
        margin-bottom: 1rem;
    }
    .container-schwergrad-dauer {
        gap:3rem;
    }
    .rezept{
        padding: 2rem 3rem 8rem 3rem;
    }
    .stepbystep{
        margin: 0.5rem;
    }
    .stepbystep{
        gap: 30px;
    }
}